<section class="pagination-section">
    <h2 class="visually-hidden">pagination</h2>
    <button class="page-btn prev">
      <svg class="arrow prev">
        <use href="./images/sprite/symbol-defs.svg#icon-arrow-left2"></use>
      </svg>
      <!-- <img src="./images/sprite/symbol-defs.svg#icon-key" class="arrow prev" alt="arrow prev" /> -->
    </button>
    <ul class="pagination-btns">
      <li class="page is-hidden">1</li>
      <li class="dots is-hidden">...</li>
      <li class="page active">1</li>
      <li class="page">2</li>
      <li class="page">3</li>
      <li class="page">4</li>
      <li class="page">5</li>
      <li class="dots">...</li>
      <li class="page">20</li>
    </ul>
    <button class="page-btn next">
      <svg class="arrow next">
        <use href="./images/sprite/symbol-defs.svg#icon-arrow-left2"></use>
      </svg>
    </button>
</section>
