.pagination-section {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	justify-content: center;
	@include mq(desktop) {
		background-color: var(--light-body-theme);
	}
}
.pagination-btns {
	display: flex;
	align-items: center;
	justify-content: center;
}
.dots {
	padding: 8px;
	margin-left: 8px;
	cursor: default;
}
.page {
	padding: 8px;
	font-weight: 500;
	margin-left: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
.page:hover {
	transform: scale(140%);
}
.page.active {
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:rgba(255, 107, 8, 1);
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	transform: none;
}
.page-btn{
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20%;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	cursor: pointer;
	border: 1px solid var(--secondary-text-color);
	background-color: var(--just-white);
	color: var(--secondary-text-color);
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-left: 10px;
}
.page-btn:hover {
	background-color: var(--secondary-text-color);
	color: var(--just-white);
}
.is-hidden {
	display: none;
}
.arrow {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}
.arrow.next {
	transform: rotate(180deg);
}
.pagination-section.dark {
	color: bisque;
	background-color: var(--dark-body-theme);
}
.pagination-section.dark button {
	background-color: bisque;
}
.pagination-section.dark button:hover {
	background-color: rgba(255, 228, 196, 0.863);
}