body.dark {
    background-color: var(--dark-body-theme);
	--sun-color: bisque;
}
body.light::-webkit-scrollbar {
	width: 20;
}
body.light::-webkit-scrollbar-track {
	background: var(--light-body-theme);
	margin-top: 20px;
	margin-bottom: 100px;
	border-radius: 10px;
	opacity: 0;
}
body.light::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 10px;
	border: 5px solid var(--light-body-theme);
}
body.dark::-webkit-scrollbar {
	width: 20;
}
body.dark::-webkit-scrollbar-track {
	background: var(--dark-body-theme);
	margin-top: 20px;
	margin-bottom: 100px;
	border-radius: 10px;
	opacity: 0;
}
body.dark::-webkit-scrollbar-thumb {
	background: bisque;
	border-radius: 10px;
	border: 5px solid var(--dark-body-theme);
}
.dark .header__name {
	color: var(--bisquit-color);
}
.dark .header__link {
	color: var(--bisquit-color);
}
.dark .header__input::placeholder {
	color: var(--bisquit-color);
}
.dark .header__input {
	border-bottom: 0.5px solid var(--bisquit-color);
}
.dark .header__search-icon {
	stroke: var(--bisquit-color);
}
.dark .poster-list__title {
    color: var(--bisquit-color);
};
.dark .filter_form__select {
	border-bottom: 1px solid var(--bisquit-color);
	color: var(--bisquit-color);
}
.dark .btnResetFilter {
	border-bottom: 1px solid var(--bisquit-color);
	color: var(--bisquit-color);
}
.dark .catalog {
	@include mq(desktop) {
		background-color: var(--dark-body-theme);
	}
}
.dark .to_main__text {
	color: var(--bisquit-color);
}
.dark .list-empty__title,
.dark .list-empty__text {
	color: var(--bisquit-color);
}
.dark .footer {
	background-color: var(--modal-dark-them-bcg);
	color: var(--bisquit-color);
}